BODY {
	SCROLLBAR-FACE-COLOR: #f4fffb
}
DIV {
	SCROLLBAR-ARROW-COLOR: #bfe5d5; SCROLLBAR-FACE-COLOR: #f4fffb; SCROLLBAR-DARKSHADOW-COLOR: #f4fffb; SCROLLBAR-HIGHLIGHT-COLOR: #89bfa7; SCROLLBAR-SHADOW-COLOR: #bfe5d5; SCROLLBAR-TRACK-COLOR: #bfe5d5; SCROLLBAR-3DLIGHT-COLOR: #f4fffb
}
SPAN {
	COLOR: black; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TD {
	FONT-FAMILY: "ו"; FONT-SIZE: 12px
}
HR {
	COLOR: #89bfa7; SIZE: 5px
}
A {
	FONT-FAMILY: ו; COLOR: #660099; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:link {
	COLOR: #003399; FONT-SIZE: 12px
}
A:visited {
	COLOR: #003399; FONT-SIZE: 12px
}
A:active {
	COLOR: #990099; FONT-SIZE: 12px
}
A:hover {
	FONT-FAMILY: ו; COLOR: #5082e6; FONT-SIZE: 12px; TEXT-DECORATION: none
}
