BODY {
	FONT-FAMILY: "宋体"; COLOR: #37527f; FONT-SIZE: 12px
}
TD {
	LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:link {
	FONT-FAMILY: 宋体; COLOR: #2a7cb1; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: 宋体; COLOR: #2a7cb1; TEXT-DECORATION: none
}
A:active {
	FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
A:hover {
	BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; COLOR: #de9b45; BORDER-LEFT-WIDTH: 1px; TEXT-DECORATION: none
}
